/* CUSTOM SCROLLBAR */


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #2d61c2;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d61c2;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2d61c2 #f1f1f1;
}

/* RESET MARGIN AND PADDING */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* MASTER LAYOUT */
.container {
    height: 100vh;
    background-color: #ccc;
    /* float: bottom; */
    float: right;
    width: calc(100% - 290px);
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* HEADER ADMIN */
.profiles {
    position: relative;
    right: 24%;
}

.profiles .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.profiles i {
    color: #000;
}

.main-admin-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.headeradmin {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    width: calc(100% - 330px);
    z-index: 90;
    position: fixed;
    right: 0;
    top: 0;
}

.manager-admin {
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}

.manager-admin i {
    margin-right: 10px;
}

.manager-admin ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.manager-admin ul li {
    position: relative;
}

.manager-admin .dropdown-toggle {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.manager-admin .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 100;
}

.manager-admin .dropdown li {
    padding: 10px 0;
}

.manager-admin .dropdown li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.manager-admin .dropdown li a:hover {
    color: #007bff;
    /* Đổi màu khi hover */
}

.manager-admin li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    /* Hiển thị dropdown */
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-button {
    background-color: #007bff;
    /* Màu nền của nút tìm kiếm */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.search-input:hover,
.search-button:hover {
    border-color: #007bff;
    /* Đổi màu border của input khi hover */
}

.search-button:hover {
    background-color: #0056b3;
    /* Đổi màu nền của nút khi hover */
}

.search-input::placeholder {
    color: #aaa;
    /* Màu chữ trong placeholder */
}

/* NAVIGATION STYLES */
.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    /* Tạo khoảng cách giữa logo và menu */
}

.navbar {
    background-color: #024caa;
    /* Màu nền của navbar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 250px;
    position: fixed;
    /* Giữ navbar cố định */
    top: 0;
    left: 0;
    z-index: 100;
    /* Đảm bảo navbar nằm phía trên */
}

.nav-list ul {
    list-style: none;
    padding: 0;
    width: 100%;
    width: 290px;
}

.nav-list ul li {
    margin: 20px 0;
}

.nav-list ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list ul li a:hover {
    background-color: #43547a;
    /* Đổi màu nền khi hover */
    color: #ffcc00;
    /* Đổi màu chữ khi hover */
    border-radius: 5px;
}


/* FOOTER */
.footer-bottom {
    float: right;
    text-align: center;
    padding: 10px 0;
    background-color: #f8f8f8;
    font-size: 13px;
    color: #666;
    border-top: 1px solid #e0e0e0;
    width: calc(100% - 290px);
    /* margin-top: 10px; */
}

/* RESPONSIVE ADJUSTMENTS */
@media (max-width: 1366px) {
    .navbar {
        flex: 3;
    }

    .maincategory {
        width: 0;
    }
}

/* MY PROFILE */
.myprofile {
    /* overflow: hidden; */
    box-sizing: border-box;
    max-width: calc(100% - 290px);
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    float: right;
    margin-top: 69px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #e3e6f0;
}

.myprofile-form {
    height: 65%;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1366px) {
    .myprofile-form {
        height: 80%;
    }
}

.avatar-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.avatar-input {
    flex-grow: 1;
}

.avatar-input label {
    font-weight: bold;
}

.information-section {
    margin-bottom: 20px;
}

.information-section h3,
.changePassword h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.row {
    display: flex;
    margin-bottom: 15px;
}

.col {
    flex: 1;
    margin-right: 10px;
}

.col:last-child {
    margin-right: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[readonly] {
    background-color: #e9ecef;
}

.password-field {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-buttons {
    text-align: right;
}

.btn-save {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-save:hover {
    background-color: #0056b3;
}

/* Change Password section */
.changePassword .row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.changePassword .col {
    flex: 1;
}

.changePassword label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

.changePassword input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.password-field {
    position: relative;
    /* Để sử dụng position absolute cho biểu tượng */
}

.password-field input {
    width: 100%;
    /* Đảm bảo input chiếm toàn bộ chiều rộng */
    padding-right: 30px;
    /* Tạo không gian bên phải cho biểu tượng */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
    color: #007bff;
}


/* Save button */
.form-buttons {
    text-align: center;
}

.btn-save {
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: #218838;
}

/* INDEX */
.maincategory {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 70px;
    max-width: 900px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.add-catagory-products {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.add-catagory-products a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-catagory-products a:hover {
    background-color: #218838;
}

/* Wrapper to contain table and enable scrolling */
.table-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

/* Ensures the table maintains width while scrolling */
table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

thead th {
    background-color: #2d61c2;
    color: white;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: -1;
    z-index: 1;
}

tbody td {
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.btn.btn-edit {
    color: #3498db;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    text-decoration: none;
}

.btn.btn-edit:hover {
    color: #0a325f;
}

.btn.btn-danger {
    color: #3498db;
    padding: 12px;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    text-decoration: none;
}

.btn.btn-danger:hover {
    color: red;
    background-color: transparent;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .maincategory {
        width: 100%;
        padding: 10px;
    }

    .add-catagory-products {
        width: 100%;
    }

    .table-wrapper {
        width: 100%;
    }
}

/* CREATE CATEGORY*/
.createcategory {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    transition: all 0.3s ease;
}

.createcategory h2 {
    text-align: center;
    color: #2c3e50;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.category-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

label {
    font-size: 14px;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

input[type="text"],
.form-control,
input[type="number"],
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    font-size: 16px;
    color: #495057;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
.form-control:focus,
textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea {
    resize: vertical;
    height: 120px;
}

button.btn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button.btn:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .maincategory {
        width: 90%;
    }
}

.cancel-category {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cancel-category:hover {
    background-color: #2980b9;
}

.cancel-category,
button.btn {
    margin-top: 20px;
}

/* EDIT CATEGORY */
.edit-category {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    transition: all 0.3s ease;
}

.cancel-btn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cancel-btn:hover {
    background-color: #2980b9;
}

/* PRODUCT */
.main-product {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 90px;
    max-width: 1300px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    padding: 20px;
    overflow-x: hidden;
}

.product-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

.add-product {
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}

.add-product h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.add-product a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-product a:hover {
    background-color: #218838;
}

@media (max-width: 1366px) {
    .product-scroll {
        width: 50%;
        overflow-x: auto;
        /* Thêm thanh cuộn ngang */
    }

    table {
        width: 100%;
        min-width: 1366px;
        /* Đảm bảo bảng không co quá nhỏ, ít nhất là bằng độ rộng của màn hình */
        table-layout: auto;
        /* Cho phép các cột điều chỉnh tự do */
        font-size: 12px;
        /* Giảm kích thước chữ */
    }

    td,
    th {
        padding: 4px;
        word-wrap: break-word;
        /* Gói chữ nếu quá dài */
    }

    img {
        max-width: 100px;
        /* Giảm kích thước hình ảnh để tiết kiệm không gian */
        max-height: 100px;
    }
}

/* CREATE PRODUCT */
.main-container-addproduct {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1300px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.main-container-addproduct form {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin-top: 30px;
}

.main-container-addproduct h2 {
    text-align: center;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    /* Giãn đều các nhóm */
    gap: 20px;
    /* Khoảng cách giữa các cột */
}

/* Đặt chiều rộng mỗi cột */
.form-group-create-product {
    flex: 1;
    /* Mỗi cột sẽ chiếm 1 phần đều nhau */
}

/* Đảm bảo các input, textarea hiển thị tốt */
.form-control-create-product {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.cancel-addproduct {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    text-decoration: none;
}

.cancel-addproduct:hover {
    background-color: #2980b9;
}

/* Responsive: Khi màn hình nhỏ hơn, chuyển về dạng cột */
@media (max-width: 1366px) {
    .form-group-row {
        flex-direction: column;
        /* Chuyển từ hàng sang cột trên màn hình nhỏ */
    }
}

/* EDIT PRODUCT */
.main-edit-product {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1300px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.main-edit-product h2 {
    text-align: center;
}

.main-edit-product form {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin-top: 30px;
}

.cancel-editproduct {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    text-decoration: none;
}

.cancel-editproduct:hover {
    background-color: #2980b9;
}