* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    width: 23%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.footer-column h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #d62828;
    /* Màu khi hover */
}

.footer-logo {
    width: 120px;
    margin-bottom: 10px;
}

.social-icons a img {
    width: 30px;
    margin-right: 10px;
}

.payment-methods img {
    margin-top: 10px;
    margin-right: 10px;
    width: 50px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f8f8;
    font-size: 13px;
    color: #666;
    border-top: 1px solid #e0e0e0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto;
    }
}

hr {
    border: 0;
    border-top: 3px solid #ccc;
    margin: 30px 12%;
}

ul li {
    padding: 2px 6px;
}

h5 {
    margin-top: 20px;
}