.info {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}
.city{
    padding: 40px;
    color:#e74c3c;
  
}
#city{
    padding: 15px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid #3498db;

}
.store1{
    padding: 40px;
    color:#e74c3c;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    
}


.store-stats {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    

    
    
}
.store2{
    background-color: white;

}
.box{
    display: flex;

}


.stat-box {
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 8px;
    width: 150px;
}

.stat-box.orange {
    background-color: #f39c12;
    width: 250px;
    margin: 5px;
}

.stat-box.blue {
    background-color: #3498db;
    width: 250px;
    margin: 5px;
    
}

.stat-box.purple {
    background-color: #8e44ad;
    width: 250px;
    margin: 5px;
}
.store-map{
    display:flex;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
    height: 50%;
    align-items: center;
    margin-top: 5%;
    justify-content: space-between;
    
   
}
.store-locator {
    display: flex;
    flex-direction: column;
    padding: 20px;
    

    
}

.store-list {
    flex: 1;
    margin-right: 20px;
    overflow-y: scroll;
    max-height: 400px;
    height: 100% ;

}

.store-list h2 {
    color: #e74c3c;
}

.store {
    border: 1px solid #e74c3c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.store h3 {
    color: #e74c3c;
    margin: 0 0 10px 0;
}

.store p {
    margin: 5px 0;
}

