* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-bottom: 10px;
}

footer {
    margin-top: auto;
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

#myInput {
    border: 1px solid #2d61c2;
    border-radius: 10px;
    box-shadow: 0 0 5px #2d61c2;
    padding: 10px;
}

#password {
    border: 1px solid #2d61c2;
    border-radius: 10px;
    box-shadow: 0 0 5px #2d61c2;
    padding: 10px;
}

#password:focus {
    border: 1px solid rgb(255, 0, 0);
    outline: none;
}

#myInput:focus {
    border: 1px solid rgb(255, 0, 0);
    outline: none;
}

.login-logo {
    display: block;
    margin: 0 auto 20px;
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2d61c2;
}

.login-desc {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 11px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #333;
}

.checkbox-group input {
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    background-color: #2d61c2;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #104bb8;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}