.slideshow-container {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: auto;
}

.list-image {
    display: flex;
    width: 400%;
}

.swiper-slide {
    width: 100vw;
    /* Đảm bảo mỗi banner rộng bằng chiều rộng cửa sổ */
    flex-shrink: 0;
}

.swiper-slide-duplicate {
    opacity: 0;
    /* Ẩn các slide duplicate trong suốt quá trình */
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media (min-width: 1920px) {
    .slideshow-container {
        height: 480px;
    }
}

@media (max-width: 768px) {
    .slideshow-container {
        height: 240px;
    }
}

@media (max-width: 480px) {
    .slideshow-container {
        height: 180px;
    }
}